/* Nav css */

header {
  background-color: lightcyan;
  border-bottom: darkslateblue 5px;
}

nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}

a,
a:link,
a:visited {
    color: #7F7F7F;
    text-decoration: none !important;
}
.navbar-brand {
   color: black !important;
}
