/* Nav css */

header {
  background-color: #94cef2;
  border-bottom: darkslateblue 5px;
}

nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  color: #94cef2 !important;
}

.navbar {
  background-color: #94cef2;
}

a,
a:link,
a:visited {
    color: #8C566A;
    text-decoration: none !important;
}
.navbar-brand {
   color: black !important;
}

/* country card */

#greenCard {
  background-color: lightgreen;
}

#yellowCard {
  background-color: yellow;
}

#redCard {
  background-color: tomato;
}
